@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #EAE7DC;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  overflow-x: hidden;
}

.deviceHtml {
  position: fixed !important;
}

@keyframes scrollAnimation {
  0% {
      top: 1px; /* Start position at the top */
  }
  100% {
      top: 50%; /* End position at the bottom */
  }
}

.animate-scroll-tailwind {
  animation: scrollAnimation 0.6s ease-in-out infinite; /* Adjust the animation duration as needed */
}
